doctype html
html
  head
    title canvas
    link(rel="stylesheet", href="style.css")
    script(src="app.js")

  body
    #app
      canvas#canvas
      div#storylet
        .storylet-text An example Text
        .storylet-controls Controls!
      div#cc